@keyframes jumbotronAnimate {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }


    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}


@keyframes jumbotronBtnAnimate {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}