$color-primary:rgba(12, 5, 41,0.800);
$color-primary-light:rgba(11, 57, 84,0.600);

$color-secondary:#0c0529;
$color-secondary-light:rgba(11, 57, 84,0.800);

$color-test-light:rgb(12,5,41);
$color-test-dark:rgb(11,57,84);


$color-tertiary-light:#2998ff;
$color-tertiary-dark:#5643fa;

$color-tertiary-light-op:rgba(41, 152, 255,0.600);
$color-tertiary-dark-op:rgba(86, 67, 250,0.800);

$color-quaternary-light:#ffb900;
$color-quaternary-dark:#ff7730;

$color-quaternary-light-op:rgba(255, 185, 0,0.400);
$color-quaternary-dark-op:rgba(255, 119, 48,0.800);

$color-green-dark:#55c57a;
$color-green-light:#7ed56f;

$color-green-light-op:rgba(85, 197, 122, 0.6);
$color-green-dark-op:rgba(126,213,111,0.800);

$color-white:rgb(255, 255, 255);
$color-gray-dark:rgb(119, 119, 119);
$color-blue-dark:rgb(22, 26, 38);
$color-white-gray:rgb(240, 240, 240);
$color-black:rgb(0, 0, 0);

//MARGIN BOTTOM SMALL/MEDIUM/HIGH

$margin-bottom-big:8rem;
$margin-bottom-medium:4rem;
$margin-bottom-small:2rem;

//MARGIN TOP SMALL/MEDIUM/HIGH

$margin-top-big:8rem;
$margin-top-medium:5rem;
$margin-top-small:3rem;

//FONTS
$font-paragraph:1.8rem;

