#saab {
  background-color: #e3e9f3;
  color: #333;
}
#saab a {
  color: #333;
}
#saab a:hover,
#saab a:active,
#saab a:focus {
  color: #13224d;
}
#saab #logo_container a:before {
  background-color: #13224d;
  background-image: url("../images/logos/saab.png");
}
#ferrari #logo_container a:before {
  background-color: #ffce2f;
}
.svg #saab #logo_container a:before {
  background-image: url("../images/logos/saab.svg");
}
#logo_container #dotcom {
  display: inline;
}
#saab #menu_bar {
  background-color: #13224d;
}
#saab #menu a:hover,
#saab #menu a:active,
#saab #menu a:focus {
  background-color: #000;
  -webkit-animation: menu_hover_saab 0.5s;
  animation:         menu_hover_saab 0.5s;
}
#saab #menu a {
  background-color: #13224d;
}
#saab #menu li.active a,
#saab #menu li.active span {
  background-color: #000;
}
#saab .menu h2 {
  background-color: #13224d;
  color: #fff;
}
#saab .menu li ul a:before {
  background-color: #13224d;
}
#saab .menu ul a:hover,
#saab .menu ul a:active,
#saab .menu ul a:focus,
#saab .menu ul li.active a,
#saab .menu ul li.active span {
  background-color: #f1f4f9;
}
#saab .menu ul li.active ul a:hover,
#saab .menu ul li.active ul a:active,
#saab .menu ul li.active ul a:focus,
#saab .menu ul li.active ul li.active a,
#saab .menu ul li.active ul li.active span {
  background-color: #f1f4f9 !important;
}
#saab .menu ul li.active ul li.active ul a {
  background-color: #fff !important;
}
#saab .menu ul li.active ul li.active ul a:hover,
#saab .menu ul li.active ul li.active ul a:active,
#saab .menu ul li.active ul li.active ul a:focus,
#saab .menu ul li.active ul li.active ul li.active a,
#saab .menu ul li.active ul li.active ul li.active span {
  background-color: #f1f4f9 !important;
}
#saab #body_column2 h1 {
  color: #13224d;
}
#saab #body_column2 h2 {
  color: #13224d;
}
#saab #body_column2 #category_intro_text {
  background-color: #13224d;
}

@media only screen and (max-width: 670px) {
  #saab #body_column2 #category_intro_text h1 {
    color: #13224d;
  }
}

#saab .pagination .active span.link,
#saab .pagination a:hover,
#saab .pagination a:active,
#saab .pagination a:focus {
  background-color: #13224d;
  color: #fff;
  border-color: #13224d;
}
#saab #download #sizes h3 {
  background-color: #13224d;  
}
#saab #download #sizes a:hover,
#saab #download #sizes a:active,
#saab #download #sizes a:focus {
  background-color: #f1f4f9;  
}
#saab #download #form_custom_size button {
  background-color: #13224d;  
}
#saab #screen #user_resolution strong {
  color: #13224d;
}
#saab #install_instruction:before {
  background-color: #13224d; 
}
#saab #footer {
  background-color: #13224d;
}

@-webkit-keyframes menu_hover_saab {
  from { background-color: #13224d; }
  to   { background-color: #000; }
}
@keyframes menu_hover_saab {
  from { background-color: #13224d; }
  to   { background-color: #000; }
}